body {
  background: grey;
}

.card {
  margin: auto;
  height: 420px;
  width: 320px;
}

.top-figura {
  font-size: 65px;
}

.number {
  font-size: 75px;
  font-weight: bold;
}

.bottom-figura {
  transform: rotate(180deg);
  font-size: 65px;
}
